<%= message.content%> <%=link_to_remote 'reply', :controller=>'users',:url =>{:action=>'reply_message',:id=>message.id}, :update=>'reply_stub'%>
<div id='reply_stub'><p></p></div>
<p>from <%=@user.name%></p>
